<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    <!--<style>
        body {
            background: darkseagreen;
            font-family: Arial, sans-serif;
            font-size: 20px;
        }
        h1{
            text-align: center;
        }
        form{
            text-align: center;
        }
        ol{
            text-align: center;
        }
        li{
            text-align: center;
        }
        h3{
            text-align: center;
        }
    </style>-->
</head>
<body>
    <h1>
        Hello, {{name}}
    </h1>
<form action="/create-message" method="post">
    <input type="text" placeholder="please enter your message" name="message">
    <button type="submit">Submit</button>
</form>
    <h3>
        Messages:
    </h3>
<ol>
    {{#messages}}
    <li>{{.}}</li>
    {{/messages}}
</ol>
</body>
</html>